<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <script src="src/main/resources/static/js/vue.js"></script>
</head>
<body>

<form th:action="@{/sendcode}" class="form1" id="sendcode">
        <input  th:placeholder="email" name="email" required>
        <button>发送验证码</button>
</form>
<br>
<form th:action="@{/modify}" class="form2" id="modify">
    <input  th:placeholder="验证码" name="code" required>
    <input  th:placeholder="手机" name="phone" required>
    <input  th:placeholder="新的密码" name="password" required>

    <button>修改密码</button>
</form>
<br>

  <div id="app">
      <form th:action="@{/modify}">
       <span v-if="judge">
       <input th:type="text" th:placeholder="手机验证码">手机验证码
       </span>
      <span v-else>
       <input th:type="text" th:placeholder="邮箱发送验证码">邮箱发送验证码
      </span>
       <button v-on:click="judge=!judge">更改找回方式</button>
          <button v-on:click="">发送验证码</button>
      </form>
  </div>

<script th:inline="javascript">
    //<![CDATA[
    const app = new Vue({
        el: '#app',
        data: {
            message: '手机验证码',
            judge: 'true',
            phone: '',
            randomnum: ''
        },
        method: {

        }

    })

    //]]>
</script>


</body>
</html>